* {
	/*css reset*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*text-align: center;*/
	/*font-family: 'Oxygen', sans-serif;*/
	font-family: 'Roboto', sans-serif;
	/*justify-content: center;*/
	color: black;
	list-style-type: none;
}

/*nav bar style*/
/*nav elements border*/
.nav-item {
	border: 1px solid white;
	font-size: 14px

}

/*default border bottom removed*/
.nav-tabs {
	border-bottom: 0;
}

/*displace away from nav-bar*/
.nav-offset {
	margin-top: 80px;
}
.nav-offset-home {
	margin-top: 50px;
}
.nav-offset-contact {
	margin-top: 80px;
}

#headera {
	background-color: #373d5c
}

nav img {
	width: 60px;
	height:60px;
}

/*hero-section or landing page*/
.jumbotron {
	font-family: 'Oxygen', sans-serif;
	/*background: linear-gradient(35deg, #036ffc, #010203);*/
	background-image: url("../images/setup2.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 100vh;
	margin-bottom: 0;
	vertical-align: middle;
	text-align: center;

}

.jumbotron .row{
	height: 80vh;
}

.background {
	background-color:rgba(16, 52, 166, 0.6); 
}

/*circle border image*/
.prof-pic {
	border: 4px solid orange;
	border-radius: 50%;
	width: 150px;
	height: 150px;
}

/*1 screen responsive*/
/*desktop laptop*/
@media (max-width: 1024px)
 {
 	.display-1 {
 		font-size: 65px;
 	}

 	.display-3 {
 		font-size: 55px;
 	}
 	.lead {
 		font-size: 35px;
 	}
 	.prof-pic {
	width: 120px;
	height: 120px;

	}
} 	

/*tablets*/
@media (max-width: 769px)
 {
 	.display-1 {
 		font-size: 40px;
 	}

 	.display-3 {
 		font-size: 45px;
 	}
 	.lead {
 		font-size: 30px;
 	}

 	.display-2 {
 		font-size: 25px;
 	}
 	.prof-pic {
	width: 100px;
	height: 100px;

	}
	.jumbotron img {
 		width: 100px;
 		height: 100px;
 	}

}
/*smartphones*/
@media (max-width: 375px)
 {
 	.display-1 {
 		font-size: 25px;
 		padding-bottom: 20px;
 	}

 	.display-3 {
 		font-size: 20px;
 		padding-bottom: 20px;
 	}
 	.lead {
 		font-size: 15px;
 		padding-bottom: 20px;
 	}

 	.jumbotron img {
 		width: 40px;
 		height: 40px;
 	}

} 	

@media (max-width: 280px)
 {
 	.display-1 {
 		font-size: 25px;
 		padding-bottom: 20px;
 	}

 	.display-4 {
 		font-size: 20px;
 		padding-bottom: 20px;
 	}
 	.lead {
 		font-size: 15px;
 		padding-bottom: 20px;
 	}

 	.jumbotron img {
 		width: 40px;
 		height: 40px;
 	}
 	.display-2 {
 		font-size: 30px;
 	}

} 	



/*tweaking for placement*/
 
	
		
}

.row {
	height: 100%;
}

#logo-col {
	padding-top: 5%;
	 
}

#prof-pic-col {
	padding-top: 5%;
}

#text-col {
	vertical-align: middle;
	
}

.header-items {
	padding: 5px;
}


/*Landing page color*/
h1 {
	color: #ffd59e;
}

h2 {
	color: #ffd59e;
}

.lead {
	color: #ffd59e;
}

/*3d -ish font*/

header {
	text-shadow: 1px 1px #112352, 
                2px 2px #081038, 
                3px 3px #02041a;

}

/*portfolio style*/
.portfolio-class{
	height: 100%;
	background: linear-gradient(35deg, #007bff, #81baf7, #27568a, #070a0d, #01172e);
	background-repeat: no-repeat;
 	
}

/*card size and positioning*/
.card {
	width: 13rem;
}


.display-2 {
	color: white;
}

.row {
	padding-top: 10px;
	padding-bottom: 10px;
}


article iframe {
	width: 90%;
	height: 300px;
	border-radius: 10px;
}

.row {
	padding-top: 10px;
	padding-bottom: 10px;
}

#cert1 {
	width: 100%;
	height: auto;
}

#cert2 {
	width: 100%;
	height: auto;
}

.form-similars {
	display: flex;
}

.form-similar-items{
	padding-right: 20px;
}

form {
	text-align: left;
	

}

h1, h2, h3, h4, h6 {
	text-align: center;
}

#contact-background {
	background: -webkit-radial-gradient(#515cd6, #5d639c, #5d639c, #8b8da3, #515cd6);
}

#contact-form-background {
	background-color: rgba(245, 242, 233, 0.5);
	border: 5px inset skyblue;
}

h6 {
	color: gold;
}

form label, input {
	padding-right: 10px;
}

.map {
	border: 5px ridge skyblue;
	width: 800px;
	height: 5	00px; 
}

footer {
	border-top: 2px solid darkblue;
	background: rgb(217, 231, 255);
}

footer ul {
	padding-left: 20px;
}